server {
	listen 80;
	server_name bb.melt.kyutech.ac.jp;

	access_log /var/log/nginx/bb_access.log;
	error_log  /var/log/nginx/b_error.log;

    proxy_set_header    X-Real-IP       $remote_addr;
    proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header    Host            $http_host;
    proxy_redirect      off;
    proxy_max_temp_file_size    0;

	location / {
		proxy_pass http://127.0.0.1:4002;
	}
}

